<div>

<app-slab [slab]="slab" (slabDataChange)="updateSlabSize($event)"></app-slab>

<app-pieces [pieces]="pieces"></app-pieces>
</div>

<div>
  Calculations
  <div>Total Slab Area: {{slab.area}}</div>
  <div>Total Pieces Area: {{getPiecesArea()}}</div>
  <div>Minimum Slabs Needed: {{findMinimumSlices()}}</div>
  <button (click)="sizeLeftSort()">Size Left Sort</button>
</div>

<div>
  <div class="slab" [style.width.px]="slab.width" [style.height.px]="slab.height">
    <div *ngFor="let piece of pieces" class="piece" [style.width.px]="piece.width" [style.height.px]="piece.height" [style.left.px]="piece.x" [style.top.px]="piece.y">
      ({{ piece.width }},{{ piece.height }}) - ({{piece.x}},{{piece.y}})
    </div>
  </div>
</div>